<div class="font-bold text-center text-3xl mt-4 mb-4">
  <h1 class="title">Edit Note</h1>
</div>
<div class="flex flex-col items-center">
  <form
    class="w-3/4 border bg-zinc-200 border-gray-400 rounded-lg mb-4 p-6"
    [formGroup]="editNoteForm"
    (ngSubmit)="submitNote()"
  >
    <div class="mb-4">
      <label for="note-title">
        Title:
        <input
          class="bg-amber-100 block w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
          type="text"
          formControlName="noteTitle"
          id="note-title"
        />
      </label>
    </div>
    <div class="mb-4">
      <label for="note-text">
        Text:
        <textarea
          class="bg-amber-100 block w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
          type="text"
          formControlName="noteText"
          id="note-text"
        ></textarea>
      </label>
    </div>
    <div class="mb-6">
      <button
        type="button"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
        [disabled]="!editNoteForm.valid"
      >
        Update Note
      </button>
    </div>
    <div class="mb-6">
      <button
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="button"
        (click)="openModal()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>

<div
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
  *ngIf="isModalOpen"
>
  <div class="bg-white p-6 rounded shadow-lg max-w-md w-full relative">
    <button
      class="absolute top-2 right-2 text-gray-500 hover:text-gray-700"
      (click)="closeModal()"
    >
      &times;
    </button>
    <h2 class="text-xl font-semibold mb-4">Confirm Cancel</h2>
    <p class="mb-4">
      Are you sure you want to cancel editing? Any changes you have made to this
      note will be lost.
    </p>
    <button
      class="bg-blue-500 text-white px-4 py-2 rounded"
      (click)="confirmCancel()"
    >
      Cancel Editing
    </button>
  </div>
</div>
