.app-background {
  @apply bg-cover bg-center min-h-screen;
  background-image: url("https://images.unsplash.com/photo-1532153259564-a5f24f261f51?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.content-wrapper {
  @apply flex-1;
  height: calc (100vh - height-of-navbar);
  overflow-y: auto;
}
