.notes {
  width: 80%;
}
.notes li {
  margin-bottom: 20px;
  list-style: none;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
}

.title {
  text-shadow: 2px 2px 4px rgba(8, 7, 7, 0.5);
}
